@using MentorProject.VMs
@model PaginatedList<Course>
@{
	int order = (Model.CurrentPage - 1) * Model.PageSize;
}
<main class="main">
	<!-- Page Title -->
	<div class="page-title" data-aos="fade">
		<div class="heading">
			<div class="container">
				<div class="row d-flex justify-content-center text-center">
					<div class="col-lg-8">
						<h1>Courses</h1>
						<p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
					</div>
				</div>
			</div>
		</div>
		<nav class="breadcrumbs">
			<div class="container">
				<ol>
					<li><a href="index.html">Home</a></li>
					<li class="current">Courses</li>
				</ol>
			</div>
		</nav>
	</div><!-- End Page Title -->
	<!-- Courses List Section -->
	<section id="courses-list" class="section courses-list">

		<div class="container">

			<div class="row">

				@foreach (var item in Model.Items)
				{
					@Html.Partial("_CourseItemPartial",item)
				}
				<nav aria-label="..." class="d-flex justify-content-center mt-2">
					<ul class="pagination">
						@if (!Model.HasPrevious)
						{
							<li class="page-item disabled">
								<a class="page-link" asp-route-page="@Model.CurrentPage">Previous</a>
							</li>
						}
						else
						{
							<li class="page-item">
								<a class="page-link" asp-route-page="@(Model.CurrentPage-1)">Previous</a>
							</li>
						}
						@for (int i = 1; i <= Model.TotalPages; i++)
						{
							if (Model.CurrentPage == i)
							{
								<li class="page-item active" aria-current="page">
									<a class="page-link">@i</a>
								</li>
							}
							else
							{
								<li class="page-item"><a class="page-link" asp-route-page="@i">@i</a></li>
							}
						}
						@if (!Model.HasNext)
						{
							<li class="page-item disabled">
								<span class="page-link">Next</span>
							</li>
						}
						else
						{

							<li class="page-item">
								<a class="page-link" asp-route-page="@(Model.CurrentPage+1)">Next</a>
							</li>
						}
					</ul>
				</nav>

			</div>

		</div>

	</section><!-- /Courses List Section -->

</main>